<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
<h1>Car Prediction</h1>
<form action="{{ url_for('predict')}}" method="post">
	<input type="text" name="mileage" placeholder="Enter the mileage" required="required" />
	<input type="text" name="age" placeholder="Enter the age of car" required="required" />
	<button type="submit">predict</button>
</form>
<br>
<br>

{{ prediction_text }}
</body>
</html>